<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <header>
        <div>
            <h1>My Travelling Journal</h1>
        </div>
    </header>
    <form>
        <label for="location">Location:</label>
        <input type="text" id="location" placeholder="Where do you plan to go?">
        <label for="startdate">Start Date:</label>
        <input type="date" id="startdate">
        <button type="button" id="submit">submit</button>

    </form>
</body>
<footer>Stay Udacious!</footer>

</html>